
.userPage-container {
    color: white;
    font-size: 16px;
}

.user-container {
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: calc(100vh - 60px);
} 

/*------------ main(home page) ---------------*/
.main-container{
    position: relative;
    padding: 20px;
}

.unit {
    margin-top: 20px;
}

.unit .account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.unit .btnGroup {
    border: solid 2px #e46033;
    width: 120px;
    border-radius: 4px;
}

.unit button {
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    color: white;
    border-color: rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.1);
    margin-left: 3px;

}

.btnGroup button.active{
    background-color: #e46033;
}

.btnGroup button:hover{
    background-color: #e46033;
}

.unit .account .addAccount {
    padding: 10px 20px;
    margin-left: 880px;
    background-color: #e46033;
}

.unit .addAccount:hover{
    border-color: #e46033;
    background: linear-gradient(180deg,#e46033, #ffd773);
}

.account-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.account-box {
    margin-top: 10px;
    padding: 10px 20px;
    border: solid 1px #ddd;
    border-radius: 4px;
    width: 300px;
}

.account-box h3 {
    display: inline;
    font-size: 21px;
    margin-left: 15px;
}
.account-box span h3 {
    font-size: 15px;
    margin-left: 4px;
    text-transform: capitalize;
}
.account-box .real {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 20px;
    font-weight: 600;
    background: rgba(255,255,255,0.2);
    color: white;
    margin-bottom: 12px;
}
.account-box .demo {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    background: rgba(64, 150, 130, 0.3);
    color: #0bff0b;
    margin-bottom: 12px;
}

.account-box p {
    border-bottom: dashed 1px #ddd;
}


.account-box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg,#e46033,#ffd773);
    border-radius: 4px;
}

.account-box button:hover {
    box-shadow: 0 0 25px #ffd773;
    border-color: #e0960d;
}

footer {
    padding: 20px;
}

/*------------main(open-account page)---------------------*/
.open-account {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);
    width: 100%;
    max-width: 500px;
    background: rgba(0,0,0,0.5);
    border: solid 2px #e46033;
    border-radius: 6px;
    padding: 20px;
}

.account-real, .account-demo {
    display: flex;
    border: solid 1px #ddd;
    border-radius: 6px;
    gap: 20px;
    margin-top: 20px;
    padding: 10px;
}

.account-real h2, .account-demo h2 {
    margin-top: 8%; 
}
.account-real h2 {
    margin-right: 4%;
}

.account-real h3, .account-demo h3 {
    margin-top: 8%; 
}

.account-real p, .account-demo p {
    width: 100%;  
}

.open-account button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 6px;
}

.open-account .continue {
    background: linear-gradient(90deg, #e46033, #ffd773);
}

.open-account .continue:hover {
    border-color: #e0960d;
    box-shadow: 0 0 20px #ffd773;
}

.open-account .back {
    background-color: #ccc;
}

.open-account .back:hover {
    border-color: #ccc;
    box-shadow: 0 0 20px #ccc;
}

/*-------------responsive---------------*/
@media (max-width: 768px) {

    .logo {
        font-size: 24px;
    }

    .user-container {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: none;
    }

    .account-real,
    .account-demo {
        flex-direction: row;
    }

    .unit .account {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .unit .account .addAccount {
        padding: 10px 20px;
        margin-left: 0px;
        background-color: #e46033;
    }

    .main-container footer{
        width: 100%;
    }
}