body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(0deg,black,#2c1108);
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: block; 
}